$treeview-node-height-dense: 28px;
$treeview-node-level-width: 20px;
$treeview-node-margin: 4px;
$treeview-node-padding: 0px;
$label-font-size: 13px;
$input-font-size: 13px;
$treeview-label-font-size: 13px;